.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out;
}

.popup {
  padding: 20px 40px;
  border-radius: 25px;
  color: white;
  font-size: 50px;
  text-align: center;
  animation: scaleIn 0.3s ease-out;
}

.popup-overlay button {
  padding: 10px;
  background-color: #e94989;
  border-style: none;
  border-radius: 8px;
  color: #691235;
  align-self: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* I don't understand what's coming */
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1);
  }
  30% {
    transform: scale(1.3);
    opacity: 0.8;
    filter: brightness(1.8);
  }
  60% {
    transform: scale(0.5);
    opacity: 0.4;
    filter: blur(2px);
  }
  100% {
    transform: scale(0);
    opacity: 0;
    filter: blur(5px);
  }
}

.explode {
  animation: explode 500ms ease-out forwards;
}
